@font-face{font-family:'ProximaNova';src:url('../font/ProximaNova-Regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'SkolarWeb-Bold';src:url('../font/SkolarWeb-Bold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'SkolarWeb';src:url('../font/SkolarWeb.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'ProximaNova-Bold';src:url('../font/ProximaNovaBold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'SkolarWeb-Italic';src:url('../font/SkolarWeb-Italic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'ArvilSans';src:url('../font/ArvilSans.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'TisaWebProRegular';src:url('../font/TisaWebProRegular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'BebasNeue';src:url('../font/BebasNeue.woff') format('woff');font-weight:bold;font-style:normal;}
@font-face{font-family:'BebasNeue-normal';src:url('../font/BebasNeue.woff') format('woff');font-weight:normal;font-style:normal;}
