html{
}
body,div,ul,li,a,span,section{ margin:0; padding:0}
body {
   overflow:auto; 
  background: #e9e9e9;
  width:100%;
  color:#7EC0EE;
  font-family:BebasNeue, ProximaNova-Regular, Georgia, Palatino, serif;
  background-color:#ffffff;
  background-image: url(../images/background/stone.jpg);
  }
a{
	text-decoration : none;
	color:#8dd2ff;
	}
.piclink .popbox{
	display:none;
	}
.piclink .popbox img{
	width:100%;
	height:100%;
	}
.piclink:hover .popbox{
	text-align:center;
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	}


.container{
	width:100%;
	border-bottom-style:inherit;
	border-bottom:0px dotted #a4b0bc;
	}
.container1{
	width:100%;
	height:0;
	border-bottom:0px dotted #a4b0bc;
	}
.span-right{
	position:fixed;
	right:0;
	height:100%;
	width:15%;
	background-color:#000000;
	border-left:2px solid #8dd2ff;
        /*border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-right-radius: 4%;
        border-bottom-right-radius: 4%;*/
	}

.span-left{
	float:left;
	padding: 0px;
	height:100%;
	width:85%;
	
	}
.span-left .head{

	width:100%;
	height:35%;
	}
.span-left .head h1{
	text-align:center;
	font-family: SkolarWeb-Bold;
	font-size: 76px;
	}
.span-left .content{
	float:inherit;	
	width:90%;
	height:65%;
	margin-left: 5%;
	}
.span-left .content p{
	padding:0px 20px;

}
	
.span-top{
	height:20%;
	width:100%;
	}
.span-middle{
	height:60%;
	width:100%;

	}
.span-bottom{
	height:10%;
	width:100%;
	}
.seperateline{
	width:85%;
	text-align:center;
	height:3px;
	}

/* Navigation Bar */
#navigationbar{
	text-align: center;
	font-size:1.8em;
	height:100%;
	width:100%;
	overflow:hidden;

}
#navigationbar ul{
	height:100%;
	list-style: none;


}
#navigationbar li{
	width: 100%;
	border:0px solid #8dd2ff;
	height:16%;
	over-flow: hidden
	
}

#navigationbar li a{
	width: 100%;
	text-decoration : none;
	border:0px solid #8dd2ff;
	margin:0em;
	/*background: transparent;*/
	color:#ffffff;
	background-color:#e9e9e9;
  border: 0px dotted #a4b0bc;
	
}
#navigationbar li a div{
	width:100%;
	float:center;
   font-family:BebasNeue, ProximaNova;
	border: 0px dotted #a4b0bc;
	
}
/*#navigationbar li a div:visited{
	color:#74C2E9;
	background-color:#000000;
	border-bottom: 5px solid #74C2E9;
/*	-moz-border-radius: 11px 40px;
	border-radius: 11px 40px;
 	-webkit-border-radius: 11px 40px;*/
	
}*/
#navigationbar li a div:hover{
	color:#ffffff;
	background-color:#74C2E9;
	border-bottom: 5px solid #74C2E9;
/*	-moz-border-radius: 36px 50px 50px 36px / 12px 30px 30px 12px;
	border-radius: 36px 50px 50px 36px / 12px 30px 30px 12px;
 	-webkit-border-radius: 36px 50px 50px 36px / 12px 30px 30px 12px;*/
}
#navigationbar li a div:active{
	color:#ffffff;
	background-color:#8dd2ff;
	border-bottom: 5px solid #74C2E9;
/*	-moz-border-radius: 11px 40px;
	border-radius: 11px 40px;
 	-webkit-border-radius: 11px 40px;*/	
}

#personInfo{
	top:1em;
	width:100%;
	text-align:left;
	font-family: BebasNeue, TisaWebProRegular, Helvetica,Segoe UI;
	font-size:20px;
}
#personInfo a{
	color:#FF4040;
	}
#personInfo em{
	color:#ffffff;
	}
#personInfohead h1{
	color:#7EC0EE;
	font-size:66px;
	font-family:SkolarWeb-Bold, ArvilSans;
	}
#personInfohead img{
	width:10%;
	position: fixed;
	right: 10%;
	top: 3%;
	z-index: 10;
	}
#picturehead{
	font-family:SkolarWeb-Bold, ArvilSans;
	height:auto;
	text-align:center;
	}
#picturehead h1{
	padding-top:10px;
	color:#000;
	font-size:44px;
	}
	#picturehead h2{
	font-family: BebasNeue, TisaWebProRegular, Helvetica,Segoe UI;
	margin-top:0px;
	color:#fff;
	font-size:14px;
	}

#contacthead{
	color:#ffffff;
	height:18%;

	}
#contacthead h1 {
		font-size:60px;

}
#contactcontent{
	width:100%;
	height:80%;
	}
#contactmail{
	font-family: BebasNeue,£¬TisaWebProRegular;
	font-size: 28px;
	text-align: center;
	color:#ffffff;
	height:50%;
	 
	}
#snslink{
	font-family: BebasNeue,£¬TisaWebProRegular;
	font-size: 28px;
	margin-left:25%;
	width: 50%;
	text-align:center;
	
	}
#snslink li{
	float:left;
	list-style: none;
	width:20%;
	}
#snslink img{
	border:none;
	}

#contacts{
	font-family:TisaWebProRegular,Helvetica,Segoe UI;
}




.showSection {
	display: none;
}
.showSection {
	width: 680px;
	float: left;
	background: url(../images/background/spiked_pattern.png) repeat-y left bottom;
	position: fixed;
	right:15%;
	height:100%;
	top:0px;
	border: 0px dotted #a4b0bc;
}
		
		.showSection .closeshowSection {
			background: url(../images/background/close_panel.png) no-repeat;
			position: absolute;
			left: 3%;
			top: 10px;
			cursor: pointer;
			text-indent: -9999px;
			overflow: hidden;
			width: 17px;
			height: 17px;
		}
				.showSection .closeshowSection:hover {
					background-position: 0 -17px;
				}


		.showSection article p,
		.showSection article ul,
		.showSection article ol,
		.showSection article dl,
		.showSection article img,
		.showSection article table,
		.showSection article blockquote,
		.showSection article h3 {
			font-size: 12px;
			margin-bottom: 0px;
			line-height: 1.37;
		}

				.showSection article h3 {
					text-transform: uppercase;
					font-family: Palatino, Arial, sans-serif;
					font-size: 11px;
					line-height: 1.1;
					margin: 0 0 0;
					padding-top: 0px;
					border-top: 1px dotted #a4b0bc;
				}
				.showSection article a {
					color: #0872c4;
				}
				.showSection article a:hover {
					text-decoration: underline;
				}
				.showSection article ul,
				.showSection article ul li {
					list-style: disc outside;
				}
						.showSection article ul li {
							margin: 0 0 16px 18px;
						}
				.showSection article ol,
				.showSection article ol li {
					list-style: decimal outside;
				}
						.showSection article ol li {
							margin: 0 0 13px 22px;
						}



		.showSection article em {
			font-family: Palatino, Arial, sans-serif;
			font-style: normal;
		}
		.showSection article strong {
			font-family:  Arial, sans-serif;
			font-weight: normal;
		}
		.showSection article strong em,
		.showSection article em strong {
			font-family:  Arial, sans-serif;
			font-style: normal;
			font-weight: normal;
		}


		.showSection article {
			background: #c5d1de;
			color: #1c222b;
			font-size: 12px;
			width: 675px;
			height:100%;
			float:right;
		}
				.showSection article header {
					padding: 50px 3% 0px 3%;
					border-bottom: 1px solid #a4b0bc;
					padding-bottom: 20px;
					margin-bottom: 20px;
				}
						.showSection article header h1 {
							font: normal 26px/1.2 Palatino, Arial, sans-serif;
							letter-spacing: 1px;
							margin-bottom: 10px;
						}
								.showSection article header h1 a {
									color: #72320c;
								}
										.showSection article header h1 a:hover {
											color: #ba4d0b;
										}
						.showSection article header h2 {
							font-family:Palatino, Arial, sans-serif;
							letter-spacing: 1px;
							color: #718599;
							text-transform: uppercase;
							font-size: 9px;
						}
						.showSection article blockquote {
							border-left: 3px solid gray;
							padding: 6px 0 6px 15px;
						}
								.showSection article blockquote cite {
									text-transform: uppercase;
									font-size: 10px;
								}
				.showSection article .rows {
					padding: 0px 3% 0px 3%;
					width: 90%;
					height:60%;
					overflow:hidden;
				}
				.showSection article .rows .header{
					cursor: pointer;
					width: 120px;
					overflow:hidden;
					font-size:18px;
					border-bottom:2px solid #a4b0bc;
				}
					.showSection article .rows .content{
					margin-top: 15px;
					height:50%;
					overflow:hidden;
					display:none;
					font-size:10px;
				}

				.showSection article .cols {
					padding: 0px 3% 0px 3%;
					width: 90%;
					height:100%
					overflow:hidden;
				}
						.showSection article .cols .prose {
							width: 60%;
							float: left;
						}
						.showSection article .cols .images {
							width: 35%;
							float: right;
							height: auto;
						}
								.showSection article .cols .images img {
									max-width: 96%;
									display: block;
									border: 1px solid gray;	
									float: right;
									padding: 2px;
								}
								.showSection #about .cols .images img {
									margin-bottom: 5px;
								}
								.showSection article .cols .images .caption {
									font: italic normal 10px/1.2 georgia, serif;
									text-align: right;
								}

/*emaiform*/
#emaildiv{
	width:100%;
	height:70%;
	text-align:center;
	}
input{
	    font-family: BebasNeue,£¬TisaWebProRegular;
			border:0px white dashed;
			}
textarea{
	font-family: BebasNeue,£¬TisaWebProRegular;
			border:0px white dashed;
	
	}
  .emailform
    {
     background-color:#dee1ff;
     font-size:20px;
     color:#7EC0EE;
     border-left:2px white dashed;
     border-right:2px white dashed;
     background:transparent;

    }
 .emailform1
    {

     background-color:#dee1ff;
     font-size:20px;
     color:#7EC0EE;
     border-bottom:2px white dashed;
     background:transparent;

    }
#mailform
{
	background:transparent;
	width: 100%;
	height:100%;
	border: 2px;
}
.mdiv{
	border:0px white dashed;
  width:80%;
	}
#mailform input{
	text-align:center;
	width:80%;
  height:20%;

	}
#mailform .mright{
width: 45%;
height:100%;
float:right;
text-align:center;
}
#mailform .mleft{
text-align:center;
width:53%;
height:100%;
float:left;
border-right:0px white dashed;
}
#mailform textarea{
	font-family: BebasNeue,£¬TisaWebProRegular;
	width:60%;
	margin:0 27%;
	height:100%;
	text-align:center;
	font-size:20px;
	height:100%;
	resize:none;
	scroll:none;
	}
#alertdiv{
	display:none;
	position:fixed;
	top:43%;
	left:30%;
	width:350px;
	height:100px;
  background:#FF4040;
  font-size:16px;
  text-align:center;
  border:4px white solid;
  
	}
 #closediv{
   width:20%;
   margin:10% 40%;
   color:white;
   border:2px white solid;
	}
	
	.pillar {
	margin:5% 30%;
  background:transparent; 
  width:40%;
  cursor:pointer;
  }
.pillar h1, .pillar p {
  margin:0 10px;
  }
.pillar h1 {
	text-align:center;
  color:#fff;
  }
 .pillar h1 div {
  width:100%
  background:#7EC0EE;
  font-size:12px; 
  color:#fff;
  }
.pillar p {
  padding-bottom:0.5em;
  }
.pillar .b1, .pillar .b2, .pillar .b3, .pillar .b4 {
  display:block; 
  overflow:hidden;
  font-size:1px;
  }
.pillar .b1, .pillar .b2, .pillar .b4 {
  height:1px;
  }
.pillar .b2, .pillar .b3 {
  background:#7EC0EE; 
  border-left:1px solid #fff; 
  border-right:1px solid #fff;
  }
.pillar .b4 {
  background:#7EC0EE; 
  border-left:4px solid #fff; 
  border-right:4px solid #fff;
  }
.pillar .b1 {
  margin:0 2px; 
  background:#fff;
  }
.pillar .b2 {
  margin:0 1px; 
  border-width:0 1px;
  }
.pillar .b3 {
  height:2px; 
  margin:0;
  }
.pillar .b4 {
  margin:0 2px;
  }
.pillar .boxcontent {
  display:block; 
  background:#7EC0EE; 
  border-left:1px solid #fff; 
  border-right:1px solid #fff; 
  margin:0 3px;
  }